.container {
    width: 500px;
}
.title {
    font-size: var(--title2-size);
    color: var(--white-color);
}
.list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.item {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.icon {
    color: var(--red-color);
    font-size: var(--title2-size);
}
.item_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item_title {
    font-size: var(--par2-size);
    color: var(--white-color);
}
.item_par {
    font-size: var(--par1-size);
    color: var(--white-color);
}
.hr1 {
    background: linear-gradient(to right, var(--red-color), var(--background-dark-color));
    height: 1px;
}
.hr2 {
    background: linear-gradient(to left, var(--red-color), var(--background-dark-color));
    height: 1px;
}
@media (max-width:1000px) {
    .container {
        width: auto;
    }
}