.container {
    margin: var(--side-margin);
}
.title {
    font-size: var(--title2-size);
    color: var(--white-color);
}
.image_container {
    margin-top: 50px;
    position: relative;
}
.image {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 20px;
}
.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 20px;
    font-size: var(--par1-size);
}

@media(max-width:600px) {
    .button {
        padding: 10px;
        border-radius: 10px;
        bottom: 5px;
        right: 5px;
    }
}