.container {
    margin-top: 50px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.title {
    font-size: var(--title2-size);
    color: var(--white-color);
    margin-top: 30px;
}


.button {
    display: block;
    margin: 80px auto 0;
    padding: 25px 30px;
    font-size: var(--par1-size);
    color: var(--white-color);
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--red-color);
    cursor: pointer;
    transition: 0.2s;
}
.button:hover {
    background-color: var(--red-color);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1000;
}

.modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

@media(max-width:1000px) {
    .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}
@media(max-width:650px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .button {
        margin: 20px auto 0;
    }
}