.container {
    margin: 100px 0;
}
.title {
    font-size: var(--title2-size);
    color: var(--white-color);
    font-weight: bold;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 50px;
}
.item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.item_number {
    color: var(--red-color);
    font-size: var(--title3-size);
    font-weight: bold;
}
.item_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.item_title {
    font-size: var(--title3-size);
    color: var(--white-color);
    font-weight: bold;
}
.item_par {
    color:var(--grey-color);
    line-height: 1.5;
    font-size: var(--par1-size);
}

@media(max-width:700px) {
    .grid {
        gap: 20px;
    }
    .item {
        gap: 20px;
        align-items: start;
    }
}
@media(max-width:500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-top: 50px;
    }
    .item_text {
        gap: 10px;
    }
}