.container {
    background-image: url('./images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 500px;
    padding: 50px var(--side-margin);
}
.text {
    color: var(--white-color);
    max-width: 60%;
    margin-top: 100px;
    
    
}
.welcome {
    display: inline-block;
    font-size: var(--par1-size);
    text-transform: uppercase;
    padding: 15px 50px;
    transform: skewX(20deg);
    border-radius: 5px;
    background-color: var(--red-color);
    
}
.welcome span {
    display: inline-block;
    transform: skew(-20deg);
}
.title {
    font-size: var(--title1-size);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 20px;
    
}
.title span {
    color: var(--red-color);
}
.par {
    color: var(--white-color);
    line-height: 1.5;
    margin-top: 20px;
    font-size: var(--par1-size);
    
}
.button {
    display: inline-block;
    padding: 20px 30px;
    margin-top: 50px;
    border: 1px solid var(--red-color);
    font-size: var(--title3-size);
    color: var(--white-color);
    transition: 0.2s;
}
.button:hover {
    background-color: var(--red-color);
}

@media (max-width:1500px) {
    .text {
    max-width: 100%;
}
}

@media (max-width:700px) {
    .par {
        max-width: 100%;
    }
    .text {
        margin-top: 20px;
    }
}
@media (max-width:400px) {
    .container {
        height: auto;
    }
    .welcome {
        padding: 20px 10px;
    }
}