

.main {
    display: flex;
    flex-direction: row;
    padding: 10px var(--side-margin);
    gap: 50px;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    
}
.mainContent {
    flex: 4;
}
.navigation {
    padding: 50px var(--side-margin);
}
.way {
    font-size: var(--par2-size);
    color: var(--grey-color);
    padding: 0px var(--side-margin);
}



@media(max-width:1000px) {
    .main {
        flex-direction: column;
    }
}