
.main {
    display: flex;
    flex-direction: row;
    padding: 10px 200px;
    gap: 50px;
}
.mainContent {
    flex: 4;
}
.navigation {
    padding: 20px 200px;
}
.way {
    font-size: 16px;
    color: var(--grey-color);
    padding: 0px 200px;
    margin-top: 50px;
}