.container {
    
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 100px;
}
.left {
    flex: 1;
}
.title {
    color: var(--white-color);
    font-size: var(--title1-size);
}
.par {
    margin-top: 30px;
    font-size: var(--par1-size);
    line-height: 1.5;
    color: var(--grey-color);
}
.opening {
    margin-top: 50px;
}
.opening_title {
    color: var(--red-color);
    font-size: var(--par1-size);
}
.opening_par {
    color: var(--grey-color);
    margin-top: 10px;
    font-size: var(--par1-size);
}
.columns {
    display: flex;
    flex-direction: row;
    flex: 2;
    gap: 100px;
    margin-top: 30px;
}
.column {
    
}
.column_title {
    color: var(--red-color);
    font-size: var(--title3-size);
}

.column_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.column_item {
    color: var(--grey-color);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    font-size: var(--par1-size);
}
.link {
    
    transition: 0.2s;
}
.column_item i {
    color: var(--red-color);
    font-size: var(--par1-size);
}
.link:hover {
    color: var(--red-color);
}
.bottom {
    text-align: center;
    padding: 20px;
    color: var(--white-color);
    font-size: var(--par1-size);
    background-color: var(--red-color);
}

@media(max-width:1500px) {
    .main {
        padding: 50px;
    }
    .columns {
        gap: 30px;
    }
}
@media(max-width:1000px) {
 
    .columns {
        display: none;
    }
}
@media(max-width:400px) {
    .main {
        padding: 20px;
    }
}