.container {
    margin: 100px var(--side-margin);
}
.top {
    position: relative;
}
.text {
    margin: 0 auto;
}
.posttitle {
    color: var(--red-color);
    font-size: var(--title3-size);
    letter-spacing: 5px;
    margin-top: 10px;
}
.title {
    color: var(--white-color);
    font-size: var(--title2-size);
    font-weight: bold;
    
}

.main {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 50px;
    align-items: center;
}
.image {
    display: block;
    width: 40%;
    border-radius: 10px;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.card_icon {
    width: 100px;
    height: 100px;
}
.card_text {

}
.card_title {
    color: var(--white-color);
    font-size: var(--title3-size);
    font-weight: bold;
    
}
.card_par {
    color: var(--grey-color);
    line-height: 1.5;
    margin-top: 20px;
    font-size: var(--par1-size);
    width: auto;
}

@media(max-width:1500px) {
    .main {
        display: block;
    }
    .image {
        display: none;
    }
}

@media(max-width:700px) {
    .card_icon {
        width: 50px;
        height: 50px;
    }
    .card {
        gap: 10px;
        align-items: start;
    }
}