.container {
    position: relative;
    bottom: 100px;
    margin: 0px 100px;
    border-radius: 10px;
    background-color: var(--background-dark-color);

}
.images_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 200px;
    flex-wrap: wrap;
}
.image {
    display: block;
    height: 100%;
    height: auto;
    max-width: 200px;
    margin: auto;
}


@media(max-width:1500px) {
    .image {
        max-width: 150px;
    }
}
@media(max-width:1200px) {
    .image {
        max-width: 100px;
    }
    .container {
        margin: 0px 20px;
    }
}