.container {
    margin: 0;
}
hr {
    height: 5px;
    border: 0;
    margin: 0;
}
.hr1 {
    background: linear-gradient(to right, var(--red-color), var(--background-dark-color));
    
}
.hr2 {
    background: linear-gradient(to left, var(--red-color), var(--background-dark-color));
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin: 100px;
    flex-wrap: wrap;
}
.stat {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.number {
    font-size: 120px;
    color: var(--white-color);
    font-weight: bold;
}
.par {
    color: var(--grey-color);
    font-size: var(--par1-size);
}
@media(max-width:900px) {
    .number {
        font-size: 70px;
    }
    .stats {
        margin: 50px;
    }
}
@media(max-width:600px) {
    .number {
        font-size: 50px;
    }
    .stats {
        margin: 20px;
        gap: 30px;
    }
}