:root {
  --red-color: rgb(221, 60, 60);
  --white-color: #fff;
  --grey-color: #868585;
  --background-dark-color: #1d1d1d;
  --background-light-color: #2b2b2b;
}
body {
  margin: 0;
  background-color: var(--background-dark-color);
}
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
  text-decoration: none;
}