:root {
  --red-color: rgb(221, 60, 60);
  --white-color: #fff;
  --grey-color: #868585;
  --background-dark-color: #252525;
  --background-light-color: #323232;
}
body {
  margin: 0;
  background-color: var(--background-dark-color);
}
a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}