.container {
    
    margin: var(--side-margin);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

@media (max-width:1000px) {
    .container {
        flex-direction: column-reverse;
    }
}