.container {
    margin: var(--side-margin);
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

@media (max-width:1000px) {
    .container {
        flex-direction: column-reverse;
    }
}